<div class="databox secondary">
<a href="{{event.url}}"><img src="{{event.logo.url}}">
<h1>{{event.name.text}}</h1>
<h3>{{event.description.text}}</h3></a>
<h2>Start Time: {{event.start.local}}</h2>
<h2>End Time: {{event.end.local}}</h2>
<h3>Venue ID: {{event.venue_id}}</h3>
<h3>Category ID: {{event.category_id}}</h3>
<h3>Subcategory ID: {{event.subcategory_id}}</h3>
<div class="databox primary">
    <h2>Venue</h2>
    <a href="venue{{event.venue.id}}"><h3>Name: {{event.venue.name}}</h3></a>
    <h3>Address: {{event.venue.address.localized_address_display}}</h3>
    <h3>Capacity: {{event.venue.capacity}}, {{event.venue.age_restriction}}</h3>
</div>
<div class="databox primary">
    <h2>Ticket Availability</h2>
    <h3>Available Tickets: {{event.ticket_availability.has_available_tickets}}</h3>
    <h3>Minimum Price: ${{event.ticket_availability.minimum_ticket_price.display}}</h3>
    <h3>Maximum Price: ${{event.ticket_availability.maximum_ticket_price.display}}</h3>
    <h3>On Sale From: {{event.ticket_availability.start_sales_date.local}}</h3>
</div>
</div>
