<div class="databox secondary">
<h1>Venue Events</h1>
{{#each events}}
    <div class="databox tertiary">
    <img src="{{this.logo.url}}">
    <h1>{{this.name.text}}</h1>
    <h3>{{this.description.text}}</h3>
    <a href="{{this.url}}">{{this.name.text}}</a>
    <h2>Start Time: {{this.start.local}}</h2>
    <h2>End Time: {{this.end.local}}</h2>
    <h3>Venue ID: {{this.venue_id}}</h3>
    <h3>Category ID: {{this.category_id}}</h3>
    <h3>Subcategory ID: {{this.subcategory_id}}</h3>
    </div>
{{/each}}
</div>