<div class="databox secondary">

<div class="databox primary">
    {{#each (limit (reverseArray user.recent_activity) 20)}}
    
        <div class="databox tertiary">
            <h2>{{../user.name}} {{this.type}} <a href="/search/bar{{this.id}}">{{this.name}}</h2>
            <p>{{this.address}}</p></a>
            <p>{{this.time}}</p>
        </div>
    {{/each}}

</div>

<a href="/user"><button class="primary">My Profile</button></a>
</div>