<div class="flex-container">
    <div style="width: 75%;">
        <div class="databox primary">
            <div class="scroll">
                {{#each activity as |friend|}}
                    {{#each (limit (reverseArray friend.activity) 20)}}
                        <div class="databox tertiary">
                            <h2><a href="/user/uid{{friend.username}}">{{friend.name}}</a> {{this.type}} <a href="/search/bar{{this.id}}">{{this.name}}</h2>
                            <p>{{this.address}}</p></a>
                            <p>{{this.time}}</p>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="databox primary">
            <h2>Friend Requests</h2>
            <div class="friend-container">
                <a href="/user"><img src="/assets/avatars/avatar0.svg" alt="Avatar" style="width:120px">
                <h2>Chris Fox</h2></a>
                <div style="width:200px">
                <button  class="primary">Accept</button>
                <button class="tertiary">Decline</button>
                </div>
                </a>
            </div>

            <div class="friend-container">
                <a href="/user"><img src="/assets/avatars/avatar1.svg" alt="Avatar" style="width:120px">
                <h2>Jane Doe</h2></a>
                <div style="width:200px">
                <button class="primary">Accept</button>
                <button class="tertiary">Decline</button>
                </div>
                </a>
            </div>

            <div class="friend-container">
                <a href="/user"><img src="/assets/avatars/avatar2.svg" alt="Avatar" style="width:120px">
                <h2>John Nash</h2></a>
                <div style="width:200px">
                <button class="primary">Accept</button>
                <button class="tertiary">Decline</button>
                </div>
                </a>
            </div>

            <div class="friend-container">
                <a href="/user"><img src="/assets/avatars/avatar3.svg" alt="Avatar" style="width:120px">
                <h2>Louis C. Carol</h2></a>
                <div style="width:200px">
                <button class="primary">Accept</button>
                <button class="tertiary">Decline</button>
                </div>
                </a>
            </div>
            <a href="user/add-friends"><button class="secondary center">Add Friends</button></a>
        </div>

