<br><br><br>

<div style="float:none;margin-left:auto;margin-right:auto;width:50%;">
 
<h1>Settings</h1>
<section>
<div style="padding-left:2rem;padding-right:2rem;">
    <div style="margin-bottom:2rem;margin-top:2rem">
<form action="user/update{{user.username}}" method="post">
<div style="float:left;padding-left:0.5rem;padding-right:0.5rem;position:relative;width:37.5%;text-align:center;margin-top:1rem;">
    
    <img style="width: 170px;" src="\assets\avatars\avatar.svg">

    <p style="padding:1rem;">
        <a href="user/uid{{user.username}}/pic"><button type="button" style="width: 50%; border-radius:20px;" >
        Select</button></a>        
    </p>

</div>

<div style="width: 62.5%;float:left;padding-left:0.5rem;padding-right:0.5rem;position:relative">
    <div style="margin-bottom:1rem">
    <label for="Name">Name</label>
    <input style="border-radius:20px;" title="Name" name="name" value="{{user.name}}" id="name" />
    </div>

    <div style="margin-bottom:1rem">
    <label for="username">Username</label>
    <input style="border-radius:20px;" title="username" name="username" value="{{user.username}}" id="username" disabled>
    </div>

    <div style="margin-bottom:1rem">
    <label for="bio">Bio</label>
    <input style="border-radius:20px;" title="Bio" name="bio" value="{{user.bio}}" id="bio" />
    </div>
</div>

<div style="float:left;padding-left:0.5rem;padding-right:0.5rem;width:100%">
    
    <div style="margin-bottom:1rem">
        <label for="user_password">New password</label>
        <input style="border-radius:20px;" placeholder="New password" title="New password" type="password" id="user_password" />
    </div>

    <div style="margin-bottom:1rem">
        <label for="user_password_confirmation">Re-enter password</label>
        <input style="border-radius:20px;" autocomplete="off" id="user_password_confirmation" placeholder="Re-enter password" type="password" />
    </div>

    <div style="margin-bottom:1rem">
        <hr style="background-color: black;">
        
        <div style="width:100%;padding-bottom:1rem">
        <input style="border-radius:20px;" placeholder="Enter your current password to save changes" title="Current Password" type="password" id="user_current_password" />
        </div>

        <div>
            <button style="float:right;background-color:#EAD5BF;padding:1rem 2rem 1rem 2rem;border-radius:20px;">
               Save </button>
        </div>

    </div>

</div>
</form>
</div>

</div>
</section>

</div>
