<div class="databox primary">
<div class="settings-body">
<h1>Settings</h1>
<section>
<div style="padding-left:2rem;padding-right:2rem;">
    <div style="margin-bottom:2rem;margin-top:2rem">
<form action="user/update{{user.username}}" method="post">
<div class="pp-body">
    
    <img class="profile-pic" src="\assets\avatars\avatar{{user.pic}}.svg">

    <p style="padding:1rem;">
        <a href="user/uid{{user.username}}/pic"><button type="button" class="settings-select-btn">Select</button></a>        
    </p>

</div>

<div class="settings-container-small">
    <div style="margin-bottom:1rem">
    <label for="Name">Name</label>
    <input style="border-radius:20px;" title="Name" name="name" value="{{user.name}}" id="name" />
    </div>

    <div style="margin-bottom:1rem">
    <label for="username">Username</label>
    <input style="border-radius:20px;" title="username" name="username" value="{{user.username}}" id="username" disabled>
    </div>

    <div style="margin-bottom:1rem">
    <label for="bio">Bio</label>
    <input style="border-radius:20px;" title="Bio" name="bio" value="{{user.bio}}" id="bio" />
    </div>
</div>
        <div>
            <button class="secondary settings-save-btn">
               Save </button>
        </div>
</form>

<form action="user/password-reset" method="post">

    <div style="float:left;padding-left:0.5rem;padding-right:0.5rem;width:100%">

    <div style="margin-bottom:1rem">
        <hr style="background-color: black;">
        

        <div style="margin-bottom:1rem">
        <label for="user_password">New Password</label>
        <input style="border-radius:20px;" name="newPassword" placeholder="New password" title="New password" type="password" id="user_password">
        </div>

        <div>
            <button class="secondary settings-save-btn">
               Save Password </button>
        </div>

    </div>

</div>
</form>
</div>

</div>
</section>

</div>
</div>
