<div class="flex-container">
    <div style="width: 70%;">
        <div class="databox secondary">
            <div class="scroll">
                <h2>Friend Activity</h2>
                {{#each (limit (reverseArray activity) 50) as |event|}}
                    <div class="friend-container">
                        <a href="/user/uid{{event.username}}"><img src="/assets/avatars/avatar{{event.pic}}.svg" alt="Avatar" style="width:120px">
                        <h2>{{event.name}}</a> {{event.type}} <a href="/search/bar{{event.id}}">{{event.bar}}</h2>
                        <p>{{event.address}}</p></a>
                        <p>{{event.time}}</p>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="databox primary">
            <img style="width: 150px; height: auto;" src="\assets\avatars\avatar{{user.pic}}.svg">
            <h1>{{user.name}}</h1>

            <h2>Search User:</h2>
            <div style="text-align: center">
                <h3 style=" color: red; font-weight: 400;">{{response}}</h3>
            </div>
            <form class="search" action="/user/search-friend" method="post">
                <input type="text" placeholder="Search.." name="friend">
                <button style="border-radius: 0;" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <br><br><br>
            <h2>Friend Requests</h2>
            {{#unless friend_request}}
                <h3>No pending Friend Requests. Check back later.</h3>
            {{/unless}}
            {{#each friend_requests}}
            <div class="friend-container">
                <a href="/user/uid{{this.username}}"><img src="/assets/avatars/avatar{{this.pic}}.svg" alt="Avatar" style="width:120px">
                <h2>{{this.name}}</h2></a>
                <div style="width:200px">
                <button class="primary">Accept</button>
                <button class="tertiary right">Decline</button>
                </div>
                </a>
            </div>
            {{/each}}

        </div>

