<div class="flex-container databox secondary">
    <div>
        <img style="width: 300px; height: auto;" src="\assets\nav\abstract-user-flat-4.svg">
        <h1>{{user.name}}</h1>
        <h2>@{{user.username}}</h1>

        <a><h1>Friends</h1>
        <h1>{{array_length user.friends}}</h1></a>
    </div>

    <div>
        <h2>Recently Visited:</h2>
        <div class="flex-container databox secondary">
            {{#each user.recent_bars}}
                <div class="databox tertiary">
                    <a href="/search/bar{{this.id}}"><h2>{{this.name}}</h2></a>
                </div>
            {{/each}}
        </div>
            <div class="databox primary">
        <h3>Search Tags</h3>
        
        <div class="databox tertiary">
            <table>
            <tr>
                <th><button onclick="isGlobal(true)">Global</button></th>
                <th><button onclick="isGlobal(false)">My Tags</button></th>
            </tr>
        </table>
        <div id="global" name="global" class="flex-container" style="display: block;">
            <div class="databox primary card"><h2>Karaoke</h2></div>
            <div class="databox primary card"><h2>Nightlife</h2></div>
            <div class="databox primary card"><h2>Irish Pub</h2></div>
        </div>
        <div id="user" name="user" class="flex-container" style="display: none;">
        {{#each user.tags}}
            <div class="databox primary card"><h2>{{this.tag}}</h2></div>
        {{/each}}
        </div>
        </div>
        <div class="databox tertiary">
            <form action="/tags" method="post">
                <h3>Add Search Tags</h3>
                <input id="tag_name" name="tag_name">
                <button class="secondary left" type="button">Edit Tags</button>
                <button class="primary right" type="submit">Add Tags</button>
                <br><br>
            </form>
        </div>
    </div>
    </div>
</div>

<script>
    function isGlobal(bool){
        var global = document.getElementById("global");
        var user = document.getElementById("user");
        if (bool == true) {
            global.style.display = "block";
            user.style.display = "none";
        } else {
            user.style.display = "block";
            global.style.display = "none";
        }
    }

    
</script>