<div class="flex-container databox secondary">
    <div>
        <img style="width: 300px; height: auto;" src="\assets\avatars\avatar{{user.pic}}.svg">
        <h1>{{user.name}}</h1>
        <h2>@{{user.username}}</h1>

        <h1>Friends: {{array_length user.friends}}</h1>
        <div style="text-align: center">
            <div class="body-text">
                <p style=" color: #955a60">{{response}}</p>
            </div>
        </div>
        <form action="add-friend" method="post">
            <input name="friend">
            <button class="primary" type="submit">Search</button>
        </form>
    </div>
</div>