<div class="flex-container databox tertiary" style="color=white;">
    <div>
        <img style="width: 300px; height: auto;" src="\assets\nav\abstract-user-flat-4.svg">
        <h1>{{user.name}}</h1>
        <h2>@{{user.username}}</h1>
        <div class="flex-container" >
            <div>
                <h2>Friends</h2>
                <a href="friends/"><h1>{{array_length user.friends}}</h1></a>
            </div>
            <div>
                <h2>Favourites</h2>
                <a href="friends/"><h1>{{array_length user.favourites}}</h1></a>
            </div>
            <div>
                <h2>Bucketlist</h2>
                <a href="friends/"><h1>{{array_length user.bucketlist}}</h1></a>
            </div>
        </div>
    </div>
        
    <div>
        <h2>Recently Visited:</h2>
        <div class="flex-container" style="gap 20px;">
            {{#each user.recent_bars}}
                <div class="databox primary">
                    <img class="square" src="/assets/bar.jpeg">
                    <a href="/search/bar{{this.id}}"><h2>{{this.name}}</h2></a>
                </div>
            {{/each}}
        </div>
    <div>
    <div class="databox primary">
        <h1>My Tags</h1>
        <div class="flex-container">
            {{#each user.tags}}
                <h2>{{this.tag}}</h2>
            {{/each}}
        </div>
    </div>
</div>
