<img style="position: relative; top: 40px; left: 80px; cursor: pointer" class="left" src="/assets/backbutton.svg" onclick="history.back()">
<div class=" databox secondary">
        <img style="width: 300px; height: auto;" src="\assets\avatars\avatar{{user.pic}}.svg">
        <h1>{{user.name}}</h1>
        <h3>@{{user.username}}</h3>

        <h2>Friends: {{array_length user.friends}}</h2>
        {{#each friends}}
            <div style="width: 60%; margin-left: auto; margin-right: auto; background-color:#0E897D; color:white;" class="friend-container primary">
                <a href="/user/uid{{this.username}}">
                <img src="/assets/avatars/avatar{{this.pic}}.svg" alt="Avatar" style="width:120px; display:inline-block;">
                <h2>{{this.bar}}</h2>
                <h3>@{{this.username}}</h3></a>
            </div>
        {{/each}}
</div>