<img style="position: relative; top: 40px; left: 80px; cursor: pointer" class="left" src="/assets/backbutton.svg" onclick="history.back()">>
<div class="databox secondary">
    <h1>Bar Search Results</h1>
    <h1>Text Search: "{{search}}"</h1>
    <div class="databox primary">
        <iframe class="center" width="1200" height="900" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/search?q={{query}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw"></iframe>
    </div>
    <div class="databox primary flex-container">
    {{#each places as |bar|}}
        <div style="padding: 20px; flex: 1 0 30%; margin:10px" class="card databox tertiary">
            <a href="/search/bar{{bar.place_id}}">
            {{#if bar.photos.0.photo_reference}}
            <img style="width: 600px; height:auto; maxwidth:600px; maxheight=400px;" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&maxheight=400&photo_reference={{this.photos.0.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw">
            {{else}}
            <img style="width: 600px; height: auto" src="/assets/wateringhole.png">
            {{/if}}
            <div class="container">
                <h2><b>{{bar.name}}</b></h2>
                <h3>{{bar.formatted_address}}</h3> 
                <a href="{{bar.website}}"><h3>{{bar.website}}</h3></a>
                <h3>Price Level: {{bar.price_level}} Google Review: {{bar.rating}}</h3>
                <h3>Open Now: {{bar.opening_hours.open_now}}</h3></a>
                {{!-- <iframe name="votar" style="display:none;"></iframe> --}}
            </div>              
        </div>
    {{/each}}
    </div>
    {{#if page_token}}
    <form action="/search/more-bars" method="post">
        <input type="hidden" name="page_token" value="{{page_token}}">
        <input type="hidden" name="bar_name" value="{{search}}">
        <input type="image" class="center filter-white" style="width: 40px; height:auto; cursor:pointer;" src="/assets/double-down.svg">
    </form>
    {{/if}}
</div>