  

  
  <div class="databoxx white">
      <img style="position: relative; top: 40px; left: 5px; cursor: pointer" class="left" src="/assets/backbutton.svg" onclick="history.back()"> 
<div class="databoxx white flex-containerx">

  <div class="databoxx quatx">

  
  

<div class="w3-content w3-display-container" style="max-width:800px">
  <div class="w3-display-topmiddle">  <h1 id="bar_name" name="bar_name">{{place_data.name}}</h1></div>
  <img class="mySlides center w3-hover-opacity" onclick="onClick(this)" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.0.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
  <img class="mySlides center w3-hover-opacity" onclick="onClick(this)" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.1.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
  <img class="mySlides center w3-hover-opacity" onclick="onClick(this)" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.2.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
  <img class="mySlides center w3-hover-opacity" onclick="onClick(this)" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.3.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
  <img class="mySlides center w3-hover-opacity" onclick="onClick(this)" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.4.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>

  
  </div>

  

  <div id="myModal-review" class="modal-review">
    <!-- Modal content -->
    <div class="modal-content-review">
      <span class="close-review">&times;</span>
      {{#each place_data.reviews}}
      <div class="databox tertiary">
        <h2>{{this.author_name}} </h2>
        <img src="{{this.profile_photo_url}}">
        <h4 style="float: left;">{{this.rating}}{{#times this.rating}}
    <span class="fa fa-star checked"></span>
{{/times}}{{#negtimes 5 this.rating}}
    <span class="fa fa-star"></span>
{{/negtimes}}</h4>
        <h4 style="float: right;"><em>about {{this.relative_time_description}}</em></h4>
        <div style="clear: both;"></div>
        <p style="word-wrap: break-word; width: fit-content; block-size: fit-content;">{{this.text}}</p>
      </div>
      {{/each}}
    </div>
  </div>

  <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:100%">
  </div>
</div>

      {{#if place_data.opening_hours.open_now}}
        <h3>Open Now</h3>
      {{else}}
        <h3>Closed</h3>
      {{/if}}
    </div>
     <div class="databoxx quaty">


  <h2>{{place_data.formatted_address}}</h2>
  <h2>{{place_data.formatted_phone_number}}</h2>
  <a href="{{place_data.website}}"><h3>{{place_data.website}}</h3></a>
  <h3 style="text-align: left;">{{#if place_data.price_level}}Price Level: {{#times place_data.price_level}}
    $
{{/times}}{{/if}} {{#if place_data.rating}}<span style="float:right;"><button id="myBtn-review" type="button">{{place_data.user_ratings_total}} Reviews</button><br> {{place_data.rating}}{{#times place_data.rating}}
    <span class="fa fa-star checked"></span>
{{/times}}{{#negtimes 5 place_data.rating}}
    <span class="fa fa-star"></span>
{{/negtimes}}{{/if}}</span></h3>
  </div>
    <form action="bar-favourite{{place_data.place_id}}" method="post" target="hiddenFrame">
    <input type="hidden" id="bar_name" name="bar_name" value="{{place_data.name}}">
    <input type="hidden" id="bar_address" name="bar_address" value="{{place_data.formatted_address}}">
    <input type="hidden" id="bar_price_level" name="bar_price_level" value="{{place_data.price_level}}">
    <input type="hidden" id="bar_rating" name="bar_rating" value="{{place_data.rating}}">
    <input type="hidden" id="bar_location" name="bar_lat" value="{{place_data.geometry.location.lat}}">
    <input type="hidden" id="bar_location" name="bar_long" value="{{place_data.geometry.location.lng}}">
    <input type="hidden" id="bar_pic" name="bar_pic" value="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.0.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
    {{!-- <input type="hidden" id="bar_hours" name="bar_hours" value="{{place_data.opening_hours.periods}}">
    <input type="hidden" id="bar_location" name="bar_location" value="{{place_data.geometry.location}}"> --}}

    <button {{#unless bucketlisted}}style="display:none;"{{/unless}}  onclick="snackbar('snackbar-unbucketlisted'); swap_display('bucketlist_button', 'bucketlist_remove')" class="primary" type="submit" id="bucketlist_remove" name="bucketlist_remove">Remove From Bucketlist</button>
    <button {{#if bucketlisted}}style="display:none;"{{/if}} onclick="snackbar('snackbar-bucketlisted'); swap_display('bucketlist_remove', 'bucketlist_button')" class="primary" type="submit" id="bucketlist_button" name="bucketlist_button">Add To Bucketlist</button>
    <button {{#unless favourited}}style="display:none;"{{/unless}} onclick="snackbar('snackbar-unfavourited'); swap_display('favourite_button', 'favourite_remove')" class="secondary right" type="submit" id="favourite_remove" name="favourite_remove">Remove From Favourites</button>
    <button {{#if favourited}}style="display:none;"{{/if}} onclick="snackbar('snackbar-favourited'); swap_display('favourite_remove', 'favourite_button')" class="secondary right" type="submit" id="favourite_button" name="favourite_button">Add To Favourites</button>
  </form>
  </div>
  
   
 
  <div class="databoxx accent">

   <div class="databoxx secondary">

    <iframe class="centerx" width="100%" height="500" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/search?q={{place_data.formatted_address}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8"></iframe>
  <br>
  {{#if place_data.opening_hours.weekday_text.[0]}}
  <table>
    <tr>
      <th>Monday</th>
      <th>Tueday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <td>{{place_data.opening_hours.weekday_text.[0]}}</td>
      <td>{{place_data.opening_hours.weekday_text.[1]}}</td>
      <td>{{place_data.opening_hours.weekday_text.[2]}}</td>
      <td>{{place_data.opening_hours.weekday_text.[3]}}</td>
      <td>{{place_data.opening_hours.weekday_text.[4]}}</td>
      <td>{{place_data.opening_hours.weekday_text.[5]}}</td>
      <td>{{place_data.opening_hours.weekday_text.[6]}}</td>
    </tr>
  </table>{{/if}}<br><br>
   </div>
  <iframe name="hiddenFrame" class="hide"></iframe>
  <form action="bar{{place_data.place_id}}/tags" method="post" target="hiddenFrame">
    <input type="hidden" id="bar_name" name="bar_name" value="{{place_data.name}}">
    <input type="hidden" id="bar_address" name="bar_address" value="{{place_data.formatted_address}}">
    <input type="hidden" id="bar_price_level" name="bar_price_level" value="{{place_data.price_level}}">
    <input type="hidden" id="bar_rating" name="bar_rating" value="{{place_data.rating}}">
    <input type="hidden" id="bar_hours" name="bar_hours" value="{{place_data.opening_hours.periods}}">
    <input type="hidden" id="bar_location" name="bar_location" value="{{place_data.geometry.location}}">
    <input type="hidden" id="bar_location" name="bar_lat" value="{{place_data.geometry.location.lat}}">
    <input type="hidden" id="bar_location" name="bar_long" value="{{place_data.geometry.location.lng}}">
    <input type="hidden" id="bar_pic" name="bar_pic" value="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.0.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">

    {{> bar-tags}}
  </form>
  <form action="bar-visit{{place_data.place_id}}" method="post" target="hiddenFrame">
    <input type="hidden" id="bar_name" name="bar_name" value="{{place_data.name}}">
    <input type="hidden" id="bar_address" name="bar_address" value="{{place_data.formatted_address}}">
    <input type="hidden" id="bar_price_level" name="bar_price_level" value="{{bar.price_level}}">
    <input type="hidden" id="bar_rating" name="bar_rating" value="{{place_data.rating}}">
    <input type="hidden" id="bar_hours" name="bar_hours" value="{{place_data.opening_hours}}">
    <input type="hidden" id="bar_location" name="bar_location" value="{{place_data.geometry}}">
    <input type="hidden" id="bar_location" name="bar_lat" value="{{place_data.geometry.location.lat}}">
    <input type="hidden" id="bar_location" name="bar_long" value="{{place_data.geometry.location.lng}}">
    <input type="hidden" id="bar_pic" name="bar_pic" value="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.0.photo_reference}}&key=AIzaSyCGItXlt-TnU46DiR6Wk3RD_TDUONosqD8">
    <button onclick="snackbar('snackbar-visit')" class="tertiary right" type="submit" id="visited_button" name="visited_button">Visited</button>
  </form>
  </div>
  </div>
  
  </div>
  </div>

  <div id="snackbar-tags">Tags for {{place_data.name}} have been updated..</div>
  <div id="snackbar-visit">Visited {{place_data.name}}..</div>
  <div id="snackbar-bucketlisted">Added bucketlist for {{place_data.name}}..</div>
  <div id="snackbar-unbucketlisted">Removed bucketlist for {{place_data.name}}..</div>
  <div id="snackbar-favourited">Added favourite for {{place_data.name}}..</div>
  <div id="snackbar-unfavourited">Removed favourite for {{place_data.name}}..</div>

<script>
      // Get the modal
    var modal_review = document.getElementById("myModal-review");
    // Get the button that opens the modal
    var btn_review = document.getElementById("myBtn-review");
    // Get the <span> element that closes the modal
    var span_review = document.getElementsByClassName("close-review")[0];
    // When the user clicks the button, open the modal 
    btn_review.onclick = function() {
      modal_review.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span_review.onclick = function() {
      modal_review.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal_review) {
        modal_review.style.display = "none";
      }
    }


    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
    }


    function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    }

    function checked(element) {
      element.classList.toggle("tagged");
      var checkbox = element.querySelector("input");

      checkbox.checked = !checkbox.checked;
      
      console.log(checkbox);
    }

    function snackbar(name) {
      console.log(name)
      var x = document.getElementById(name);
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

    function swap_display(view, hide){
      var x = document.getElementById(view);
      var y = document.getElementById(hide);
      x.style.display = "inline-block";
      y.style.display = "none";
    } 

</script>
</div>

  


