<div class="center body-primary">
  <h1 name="bar_name">{{place_data.name}}</h1>
  <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.0.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw">
  {{!-- <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.1.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw">
  <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.2.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw"> --}}
  <h2>{{place_data.formatted_address}}</h2>
  <h2>{{place_data.formatted_phone_number}}</h2>
  <a href="{{place_data.website}}"><h3>{{place_data.website}}</h3></a>
  <h3>Price Level: {{place_data.price_level}} Google Review: {{place_data.rating}}</h3>
  <h3>{{place_data.types}}</h3>
  <h3>Open Now: {{place_data.opening_hours.open_now}}</h3>
  <table>
    <tr>
      <th></th>
      <th>Monday</th>
      <th>Tueday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <th>Open</th>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
    </tr>
    <tr>
      <th>Close</th>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
    </tr>
  </table>
</div>


<form action="/search/bar-bucketlist" method="post">
  <button type="submit">Add To Bucketlist</button>
</form>

<form action="/search/bar-favourite" method="post">
  <button type="submit">Add To Favourites</button>
</form>