<div class="databox secondary flex-container">
  <div class="databox primary">
  <h1 id="bar_name" name="bar_name">{{place_data.name}}</h1>
  <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.0.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw">
  {{!-- <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.1.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw">
  <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&photo_reference={{place_data.photos.2.photo_reference}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw"> --}}
  <h2>{{place_data.formatted_address}}</h2>
  <h2>{{place_data.formatted_phone_number}}</h2>
  <a href="{{place_data.website}}"><h3>{{place_data.website}}</h3></a>
  <h3>Price Level: {{place_data.price_level}} Google Review: {{place_data.rating}}</h3>
  <h3>{{place_data.types}}</h3>
  <h3>Open Now: {{place_data.opening_hours.open_now}}</h3>
  <table>
    <tr>
      <th></th>
      <th>Monday</th>
      <th>Tueday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <th>Open</th>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
      <td>{{place_data.opening_hours.periods.0.open.time}}</td>
    </tr>
    <tr>
      <th>Close</th>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
      <td>{{place_data.opening_hours.periods.0.close.time}}</td>
    </tr>
  </table><br><br>
  <form action="bar{{place_data.place_id}}/tags" method="post">
    <input type="hidden" id="bar_name" name="bar_name" value="{{place_data.name}}">
    <input type="hidden" id="bar_address" name="bar_address" value="{{place_data.formatted_address}}">
    <input type="hidden" id="bar_price_level" name="bar_price_level" value="{{place_data.price_level}}">
    <input type="hidden" id="bar_rating" name="bar_rating" value="{{place_data.rating}}">
    <input type="hidden" id="bar_hours" name="bar_hours" value="{{place_data.opening_hours.periods}}">
    <input type="hidden" id="bar_location" name="bar_location" value="{{place_data.geometry.location}}">
    {{> bar-tags}}
  </form>
  <form action="bar-visit{{place_data.place_id}}" method="post">
    <input type="hidden" id="bar_name" name="bar_name" value="{{place_data.name}}">
    <input type="hidden" id="bar_address" name="bar_address" value="{{place_data.formatted_address}}">
    <input type="hidden" id="bar_price_level" name="bar_price_level" value="{{bar.price_level}}">
    <input type="hidden" id="bar_rating" name="bar_rating" value="{{place_data.rating}}">
    <input type="hidden" id="bar_hours" name="bar_hours" value="{{place_data.opening_hours.periods}}">
    <input type="hidden" id="bar_location" name="bar_location" value="{{place_data.geometry.location}}">
    <button class="tertiary right" type="submit" id="visited_button" name="visited_button">Visited</button>
  </form>
  </div>
  <iframe class="center" width="1200" height="900" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/search?q={{place_data.formatted_address}}&key=AIzaSyA8P18svM3ddTHDUV21aw8JGCcfwN0UGjw"></iframe>
  </div>
  <form action="bar-favourite{{place_data.place_id}}" method="post">
    <input type="hidden" id="bar_name" name="bar_name" value="{{place_data.name}}">
    <input type="hidden" id="bar_address" name="bar_address" value="{{place_data.formatted_address}}">
    <input type="hidden" id="bar_price_level" name="bar_price_level" value="{{place_data.price_level}}">
    <input type="hidden" id="bar_rating" name="bar_rating" value="{{place_data.rating}}">
    {{!-- <input type="hidden" id="bar_hours" name="bar_hours" value="{{place_data.opening_hours.periods}}">
    <input type="hidden" id="bar_location" name="bar_location" value="{{place_data.geometry.location}}"> --}}

    {{#if bucketlisted}}
    <button class="tertiary" type="submit" id="bucketlist_remove" name="bucketlist_remove">Remove From Bucketlist</button>
    {{else}}
    <button class="tertiary" type="submit" id="bucketlist_button" name="bucketlist_button">Add To Bucketlist</button>
    {{/if}}
    {{#if favourited}}
    <button class="primary right" type="submit" id="favourite_remove" name="favourite_remove">Remove From Favourites</button>
    {{else}}
    <button class="primary right" type="submit" id="favourite_button" name="favourite_button">Add To Favourites</button>
    {{/if}}
  </form>
  


