<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neighborhood Discovery</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/handlebars/4.7.7/handlebars.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/google-styles.css" rel="stylesheet" type="text/css">
    <script src = "controllers\apiController.js" ></script>
    <script>
      const CONFIGURATION = {
        "capabilities": {"search":true,"distances":false,"directions":false,"contacts":true,"atmospheres":true,"thumbnails":true},
        "pois": [
          {"placeId": "ChIJeyLgtURo1moR73XjND_zHZ8"},
          {"placeId": "ChIJ41lATiVo1moRzmbzZaaIcPE"},
          {"placeId": "ChIJLYVJzkpd1moRWr_-yqbReTI"},
          {"placeId": "ChIJiWNaNSNo1moRJJZPmbGETh4"},
          {"placeId": "ChIJuwk4hCho1moRXzFNosV_mSo"},
          {"placeId": "ChIJeax4ljpo1moRkQ-xplX4LyE"},
          {"placeId": "ChIJPYClWhdo1moRFlfbP6Emzik"},
          {"placeId": "ChIJJ4Gpijlo1moRjsz--lt5qqI"},
          {"placeId": "ChIJm1oZ3IJC1moRp2og8RmmUxM"},
          {"placeId": "ChIJh1-3NCRo1moR7dxH9c4IIbE"},
          {"placeId": "ChIJRXLdsMJC1moRFEk2UM8lxIM"},
          {"placeId": "ChIJJzhVIyVo1moR8d_Z5LD4wAk"},
          {"placeId": "ChIJ7exHJzpo1moR6u_VgXX2jqM"},
          {"placeId": "ChIJiW4z_y5o1moRxWJU3T3dp_M"},
          {"placeId": "ChIJMbjq351C1moRIF6yNSR_YOs"},
          {"placeId": "ChIJT6AUOzpo1moRebAxrTcMuoQ"},
          {"placeId": "ChIJa-xOAGxo1moRXoUvbbNi4Bw"},
          {"placeId": "ChIJ-2GhWTNo1moRf7UGZ9qlDUk"},
          {"placeId": "ChIJC8ZpYmpo1moRUxbE5R4hq0U"},
          {"placeId": "ChIJs5_xECVo1moRihNNQBSRGHE"},
          {"placeId": "ChIJCZYm_2to1moRDxj70YNOIww"},
          {"placeId": "ChIJX_LUQTpo1moRyjr0cd2buOA"},
          {"placeId": "ChIJtYmMdgdD1moRbMs2rgy469E"},
          {"placeId": "ChIJF7o27yVo1moRxCl3hqMEcuU"},
          {"placeId": "ChIJr-zk5CVo1moRAujMZ-ADKcs"},
          {"placeId": "ChIJ8Xi8aWho1moR2oDksSQP_KE"},
          {"placeId": "ChIJ3db9kTlo1moRoVSIzX5cOc4"},
          {"placeId": "ChIJ4Yf7azpo1moRFUl0QcfXWyE"},
          {"placeId": "ChIJFd7ppDpo1moREpq8zhmlC4Y"},
          {"placeId": "ChIJQ07DfiVo1moR1z6ze6NdTyU"}
        ],
        "mapRadius": 2000,
        "mapOptions": {"center":{"lat":-37.8522827,"lng":144.9932907},"fullscreenControl":true,"mapTypeControl":true,"streetViewControl":false,"zoom":16,"zoomControl":true,"maxZoom":20,"mapId":""},
        "mapsApiKey": "AIzaSyAUCJ7yVgqagji_wdZSve1e2NJT7naHyws"
      };

      function initMap() {
        new NeighborhoodDiscovery(CONFIGURATION);
      }
    </script>
    <script id="nd-place-results-tmpl" type="text/x-handlebars-template">
      {{#each places}}
        <li class="place-result">
          <div class="text">
            <button class="name">{{name}}</button>
            <div class="info">
              {{#if rating}}
                <span>{{rating}}</span>
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star/v15/24px.svg" alt="rating" class="star-icon"/>
              {{/if}}
              {{#if numReviews}}
                <span>&nbsp;({{numReviews}})</span>
              {{/if}}
              {{#if priceLevel}}
                &#183;&nbsp;<span>{{#each dollarSigns}}${{/each}}&nbsp;</span>
              {{/if}}
            </div>
            <div class="info">{{type}}</div>
          </div>
          <button class="photo" style="background-image:url({{photos.0.urlSmall}})" aria-label="show photo in viewer"></button>
        </li>
      {{/each}}
    </script>
    <script id="nd-place-details-tmpl" type="text/x-handlebars-template">
      <div class="navbar">
        <button class="back-button">
          <img class="icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/arrow_back/v11/24px.svg" alt="back"/>
          Back
        </button>
      </div>
      <header>
        <h2>{{name}}</h2>
        <div class="info">
          {{#if rating}}
            <span class="star-rating-numeric">{{rating}}</span>
            <span>
              {{#each fullStarIcons}}
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star/v15/24px.svg" alt="full star" class="star-icon"/>
              {{/each}}
              {{#each halfStarIcons}}
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_half/v17/24px.svg" alt="half star" class="star-icon"/>
              {{/each}}
              {{#each emptyStarIcons}}
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_outline/v9/24px.svg" alt="empty star" class="star-icon"/>
              {{/each}}
            </span>
          {{/if}}
          {{#if numReviews}}
            <a href="{{url}}" target="_blank">{{numReviews}} reviews</a>
          {{else}}
            <a href="{{url}}" target="_blank">See on Google Maps</a>
          {{/if}}
          {{#if priceLevel}}
            &#183;
            <span class="price-dollars">
              {{#each dollarSigns}}${{/each}}
            </span>
          {{/if}}
        </div>
        {{#if type}}
          <div class="info">{{type}}</div>
        {{/if}}
      </header>
      <div class="section">
        {{#if address}}
          <div class="contact">
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/place/v10/24px.svg" alt="Address" class="icon"/>
            <div class="text">
              {{address}}
            </div>
          </div>
        {{/if}}
        {{#if website}}
          <div class="contact">
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/public/v10/24px.svg" alt="Website" class="icon"/>
            <div class="text">
              <a href="{{website}}" target="_blank">{{websiteDomain}}</a>
            </div>
          </div>
        {{/if}}
        {{#if phoneNumber}}
          <div class="contact">
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/phone/v10/24px.svg" alt="Phone number" class="icon"/>
            <div class="text">
              {{phoneNumber}}
            </div>
          </div>
        {{/if}}
        {{#if openingHours}}
          <div class="contact">
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/schedule/v12/24px.svg" alt="Opening hours" class="icon"/>
            <div class="text">
              {{#each openingHours}}
                <div>
                  <span class="weekday">{{days}}</span>
                  <span class="hours">{{hours}}</span>
                </div>
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
      {{#if photos}}
        <div class="photos section">
          {{#each photos}}
            <button class="photo" style="background-image:url({{urlSmall}})" aria-label="show photo in viewer"></button>
          {{/each}}
        </div>
      {{/if}}
      {{#if reviews}}
        <div class="reviews section">
          <p class="attribution">Reviews by Google users</p>
          {{#each reviews}}
            <div class="review">
              <a class="reviewer-identity" href="{{author_url}}" target="_blank">
                <div class="reviewer-avatar" style="background-image:url({{profile_photo_url}})"></div>
                <div class="reviewer-name">{{author_name}}</div>
              </a>
              <div class="rating info">
                <span>
                  {{#each fullStarIcons}}
                    <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star/v15/24px.svg" alt="full star" class="star-icon"/>
                  {{/each}}
                  {{#each halfStarIcons}}
                    <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_half/v17/24px.svg" alt="half star" class="star-icon"/>
                  {{/each}}
                  {{#each emptyStarIcons}}
                    <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_outline/v9/24px.svg" alt="empty star" class="star-icon"/>
                  {{/each}}
                </span>
                <span class="review-time">{{relative_time_description}}</span>
              </div>
              <div class="info">{{text}}</div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if html_attributions}}
        <div class="section">
          {{#each html_attributions}}
            <p class="attribution">{{{this}}}</p>
          {{/each}}
        </div>
      {{/if}}
    </script>
  </head>
  <body>
    <div class="neighborhood-discovery">
      <div class="places-panel panel no-scroll">
        <header class="navbar">
          <div class="search-input">
            <input class="place-search-input" placeholder="Search nearby places">
            <button class="place-search-button">
              <img src="https://fonts.gstatic.com/s/i/googlematerialicons/search/v11/24px.svg" alt="search"/>
            </button>
          </div>
        </header>
        <div class="results">
          <ul class="place-results-list"></ul>
        </div>
        <button class="show-more-button sticky">
          <span>Show More</span>
          <img class="right" src="https://fonts.gstatic.com/s/i/googlematerialicons/expand_more/v11/24px.svg" alt="expand"/>
        </button>
      </div>
      <div class="details-panel panel"></div>
      <div class="map"></div>
      <div class="photo-modal">
        <img alt="place photo"/>
        <div>
          <button class="back-button">
            <img class="icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/arrow_back/v11/24px.svg" alt="back"/>
          </button>
          <div class="photo-text">
            <div class="photo-place"></div>
            <div class="photo-attrs">Photo by <span></span></div>
          </div>
        </div>
      </div>
      <svg class="marker-pin" xmlns="http://www.w3.org/2000/svg" width="26" height="38" fill="none">
        <path d="M13 0C5.817 0 0 5.93 0 13.267c0 7.862 5.59 10.81 9.555 17.624C12.09 35.248 11.342 38 13 38c1.723 0 .975-2.817 3.445-7.043C20.085 24.503 26 21.162 26 13.267 26 5.93 20.183 0 13 0Z"/>
      </svg>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUCJ7yVgqagji_wdZSve1e2NJT7naHyws&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_neighborhooddiscovery_v2_cADEF" async defer></script>
  </body>
</html>